$gm-standart-tansition-duration: 0.2s;

$gm-slow-tansition-duration: 0.7s;

$gm-nav-height: 40px;

$gm-nav-height-tablet: 60px;

$gm-slider-height: 217px;

$gm-slider-height-mobile: 150px;

$gm-standart-padding-small: 15px;

$gm-standart-padding-big: 25px;

$gm-standart-padding-largest: 3rem;


$gm-pagenavi-height: 45px;

$gm-pagenavi-height-sm: 35px;

$gm-pagenavi-height-xs: 28px;

$gm-post-images-margin: 8px;

$gm-breadcrumb-height: 47px;

$gm-breadcrumb-height-sm: 25px;

$gm-breadcrumb-arrow-width: 23px;

$gm-breadcrumb-arrow-width-sm: 12px;

$gm-header-elements-width: 270px;

